* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.movie-details-area {
  display: flex;
  padding: 40px;
  align-items: center;
  margin-left: 128px;
  margin-right: 128px;
  justify-content: center;
}

.movie-details-container {
  text-align: start;
  display: flex;
}

.movie-details-description-container {
  margin: 5px;
}

.movie-details-title {
  font-size: 3rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
}

.movie-details-sub-title {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.movie-details-genre-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.movie-details-genre {
  height: 2em;
  background-color: darkturquoise;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.movie-average-rating {
  display: flex;
  align-items: center;
}

.movie-logo-container {
  height: 50px;
  width: 50px;
  display: flex;
}
